<h1>Help</h1>
<p>
  Get help on the t "rail" at the
  <%= link_to t "help", "http://www.railstutorial.org/help" %>.
  To get help on this sample app, see the
  <%= link_to "<em>t "rail"</em> book", "http://www.railstutorial.org/book".
</p>
<%= link_to "English", locale:"en" %>
